a{color:white; text-decoration:none;}

svg{background-color: rgba(90%,90%,100%,1);position: absolute;left:290px;top:10px;height: 290px;width: 500px;}
body{background-color: rgba(30%,30%,30%,0.6);}
#nv1{background-color: rgba(60%,100%,60%,1);position: absolute;height: 400px;width:800px;}

#niv{background-color: rgba(0%,0%,0%,1);position: absolute;height: 60px;width:250px;left:5px; 
top:10px;color:white;font-size:20px;content:justify;text-align: center;}
#e6{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:60px;left:5px; 
top:72px;color:white;font-size:25px;font-family:Arial;content: justify; text-align: center;
display: inline-block;}

#e5{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:60px;left:68px; 
top:72px;color:white;font-size:25px;font-family:Arial;content: justify;text-align: center;display: inline-block;}

#e4{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:60px;left:131px; 
top:72px;color:white;font-size:25px;font-family:Arial;content: justify;text-align: center;display: inline-block;}

#e3{background-color: rgba(0%,100%,0%,1);position: absolute;height: 40px;width:60px;left:194px; 
top:72px;color:white;font-size:25px;font-family:Arial;content: justify; text-align: center;display: inline-block;}

#e2{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:60px;left:5px; 
top:114px;color:white;font-size:25px;font-family:Arial;content: justify; text-align: center;display: inline-block;}
#e1{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:60px;left:68px; 
top:114px;color:white;font-size:25px;font-family:Arial;content: justify; text-align: center;display: inline-block;}

#ter{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:60px;left:131px; 
top:114px;color:white;font-size:25px;font-family:Arial;content: justify; text-align: center;display: inline-block;}

#bp1{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:80px;left:5px; 
top:163px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;display: inline-block;}

#bp2{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:80px;left:88px; 
top:163px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;display: inline-block;}

#bp3{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:80px;left:171px; 
top:163px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;display: inline-block;}

#bp4{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:80px;left:5px; 
top:210px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;display: inline-block;}

#bp5{background-color: rgba(0%,0%,0%,1);position: absolute;height: 40px;width:80px;left:88px; 
top:210px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;display: inline-block;}

#conex{background-color: rgba(0%,0%,100%,1);position: absolute;height: 60px;width:300px;left:20px; 
top:280px;color:white;font-size:40px;font-family:Arial;content: justify; text-align: center;display: block;}


#regis{background-color: rgba(0%,0%,100%,1);position: absolute;height: 60px;width:300px;right:20px; 
top:280px;color:white;font-size:40px;font-family:Arial;content: justify; text-align: center;display: block;}

#chap{background-color: rgba(0%,60%,80%,1);position: absolute;height: 500px;width:800px;top: 450px;}

#subj{background-color: rgba(0%,0%,0%,1);position: absolute;height: 50px;width:600px;right:90px; 
top:10px;color:white;font-size:40px;font-family:Arial;content: justify; text-align: center;display:inline-block;}


#sbj1{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left:80px; 
top:150px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1); }

#sbj2{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 285px; 
top:150px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#sbj3{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 490px; 
top:150px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}


#sbj4{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left:80px; 
top:200px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#sbj5{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 285px; 
top:200px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#sbj6{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 490px; 
top:200px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}



#sbj7{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left:80px; 
top:250px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#sbj8{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 285px; 
top:250px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#sbj9{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 490px; 
top:250px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#sbj10{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 80px; 
top:300px;color:white;font-size:20px;font-family:Arial;content: justify; 
text-align: center;display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#sbj11{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 285px; 
top:300px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}


#sbj12{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 490px; 
top:303px;color:white;font-size:17px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}


#sbj13{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 80px; 
top:350px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}

#sbj14{background-color: rgba(0%,0%,0%,1);position: absolute;height: 30px;width:200px;left: 285px; 
top:350px;color:white;font-size:20px;font-family:Arial;content: justify; text-align: center;
display:inline-block; border-radius:5px; border: 1px solid rgba(100%,0%,50%,1);}








